.addressAIModal {
  :global {
    .ant-modal-body {
      margin-top: 12px;
    }
  }

  .addressAIPaste {
    margin-top: 24px;
  }

  .addressAIResult {
    margin-top: 24px;

    :global {
      .ant-descriptions-header {
        margin-bottom: 12px;
      }
    }

    .title {
      font-size: 14px;
    }
  }
}

.addressAISearchPopup {
  .searchAddressTitle {
    font-weight: bold;
  }

  .searchAddressDetail {
    color: #596a80;
  }
}