.addressAIModal {
  :global {
    .ant-modal-body {
      margin-top: 12px;
    }
  }

  .addressAISearch {
    margin-bottom: 24px;
  }
}

.addressAISearchPopup {
  .searchAddressTitle {
    font-weight: bold;
  }

  .searchAddressDetail {
    color: #596a80;
  }
}