.container {
  padding: 24px;
}

.header {
  display: flex;
  align-items: center;

  :global {
    .ant-typography {
      margin-bottom: 0;
    }
    .ant-btn {
      margin-left: 16px;
    }
  }
}

.body {
  margin-top: 24px;
}